/*regras de formatação*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*fonte*/
    background-image: url(../imagens/tarde.jpg);
    /*imagem de fundo*/
    background-attachment: fixed;
    /*fundo fixo*/
    background-size: cover;
    /*tamanho*/

}

div {
    background-color: aliceblue;
    width: 70%;
    margin: auto;
    border-radius: 8px;
    /*arredeondamento*/
    padding: 16px;
    /*espaçamento interno*/
    box-shadow: black 10px 10px 20px, green -20px -30px 50px;
    /*sombra*/
}

img {
    max-width: 100%;
    /*melhor que o width*/
}

figure {
    text-align: center;
    /*centralisar*/
}

h1 {
    font-family: impact, verdana, Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
    padding-top: 70px;/*espaçamento cima*/
    padding-bottom: 70px;/*espaçamento baixo*/
    /*espaçamento dentro do funddo*/

    background-color: rgba(0, 0, 0, 0.63);
    margin: auto;
    /*espaçamento fora do fundo*/
    border-top-left-radius: 10px;/*arredondamento superior esquerdo*/
    border-top-right-radius: 10px;/*arredondamento superior direito*/
    /* aternativa border-radius: 10px 10px 0px 0px*/
    text-shadow: black 15px 15px 20px;
    text-transform: uppercase;
    /*letras maiusculas*/
    letter-spacing: 5px; /*espaço entre letras*/
    font-weight: normal; /*coloca e tira negrito*/

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;

    /*-webkit-=chrome, -moz-=firefox, -o-=opera*/

}

h2 {
    font-size: 20px;
    border-bottom-style: solid ;
    border-bottom-width: 5px ;
    border-left-style: solid ;
    border-left-width: 20px ;
    border-left-color: rgb(0, 0, 0);
    padding-left: 30px;
    /* margin-left: 30px */
}

a {
    text-decoration: none;/*mudança geral */ 
}


/*seletor descendente*/
nav a{ color: red;}/*mudança especifica*/

figure img{
    transform: scale(0.8);
    transition: 1s;
    filter: grayscale(100%);
}

/*houver: ação ao passar o mause*/
figure img:hover{
    transform: scale(1) rotatex(360deg);
    filter: grayscale(0);
}


/*seletor agrupado*/
p, li {
    font-size: 18px;
}

/*li {font-size: 18px;}*/


/*seletor classes*/
.cent{ text-align: center;}
.sombra{ text-shadow: green 1px 1px 3px;}
.destaque{
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 4px;
}